<nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{BASE_PATH}">
                EMMA CHAVEZ
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="{ACTIVE_HOME}">
                    <a href="{BASE_PATH}">Home</a>
                </li>
                <!-- <li class="{ACTIVE_BIO}">
                    <a href="{BASE_PATH}pages/bio">Bio</a>
                </li> -->
                <li class="{ACTIVE_OUR_WEDDING_JOURNAL}">   <a href="{BASE_PATH}pages/ourweddingjournal">Our Wedding Journal</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="projects">
                        <li><a href="https://github.com/eecatlin" target="_blank">Coding</a></li>
                        <li><a href="{BASE_PATH}pages/barcelonawriting">Writing</a></li>
                        <li><a href="{BASE_PATH}pages/intersection">Intersection</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

